.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

* {
    box-sizing: border-box;
}
.border{
    background-color: white;
    width: 350px;
    height: 200px;

}
.body{
    background-color: aliceblue;
    font-family: Arial;
    width: 100%;
}
.header{
    height: 70px;
    line-height: 150px;
    font-size: 50px;
    color: blue;
    margin: 20px 20px 20px 80px;
}
h3{
    font-size: 30px;
    margin: 20px 20px 20px 80px;
}
#chuthich{
    margin: 20px 20px 20px 80px;
    color: darkolivegreen;
}
.khoangcach1{
    text-align: center;
}
.khoangcach2{
    text-align: center;
}
.khoangcach3{
    text-align: center;
}
.khoangcach4{
    text-align: center;
}
.khoangcach5{
    text-align: center;
}
span{
    width: 100%;
    text-align: center;
    margin-left: 30px;
    font-size: 20px;
}
.khoangcach{
    width: 200px;
    margin-top: 100px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-left: 0px;
}